package components

import (
    "vpn-tg-bot/web/admin_panel/entity"
)

templ UserRow(user entity.UserWithSubscription) {
	Hello World!
    <tr>
        <td>{ user.ID.String() }</td>
		<td>{ user.TelegramName }</td>
        <td>{ user.CreatedAt.Format("02.01.2006 15:04") }</td>
    </tr>
}
