package views

import "strconv"

templ Error(code int, message string) {
	<div class="flex flex-col align-center justify-center">
		<h1 class="text-[10rem]">{ strconv.Itoa(code) }</h1>
		<p class="text-3xl">{ message }</p>
	</div>
}
