package templates

templ MainNavigation() {
    <nav class="h-20">
        <ul class="main-nav [&>li]:leading-20 gap-2 text-2xl flex">
            <li>Home</li>
            <li>Users</li>
            <li>Servers</li>
            <li>Tools</li>
        </ul>
    </nav>
}

