package templates

import (
	components "vpn-tg-bot/web/admin_panel/views/components"
	"vpn-tg-bot/web/admin_panel/entity"
)

templ UsersTable(users *[]entity.UserWithSubscription) {
	<table class="uk-table uk-table-divider uk-table-hover">
		<thead>
			<tr>
				<th>ID</th>
				<th>Telegram Name</th>
				<th>Created At</th>
			</tr>
		</thead>
		<tbody>
		for _, user := range *users {
				@components.UserRow(user)
		}
		</tbody>
  </table>
}

templ Test() {
	<div>Test</div>
}
